* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: repeating-linear-gradient(#654932,#6D5E52,#AAA7A4);
  background-color: #6D5E52;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h2 {
  font: bold 1.5em;
  background-color: #6D5E52;
}

h3 {
  font: bold 1em;
  margin: auto;
  width: 500px;
}

footer {
  text-align-last: center;
  text-decoration-color: #AAA7A4;
  background-color: #AAA7A4;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #898078;
  border-radius: 2%;
  opacity: 80%;
}

.title {
  text-align: center;
  font-size: 20px;
  background-color: #68350A;
  border-radius: 90%;
  margin-left: 1.5em;
  padding: 10px;
  opacity: 80%;

}

.big-picture {
  width: 500px;
  margin: auto;
  border: 5px;
  padding: 3px;
}

.contents {
  background-color: #AAA7A4;
  margin: auto;
  padding: 2px;
  height: 40px;
  width: 500px;
  border: solid;
  overflow-y: auto;
  overflow-x: hidden;
}

.entries {
  height: 150px;
  width: 500px;
  line-height: 1.2;
  overflow-y: auto;
  overflow-x: hidden;
}

.date {
  text-decoration-color: black;
  text-decoration: underline;
}

#title-img {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1px;
}

#nav {
  list-style-type: none;
  margin-right: 1.5em;
  padding: 10;
  color: black;
  background-color: #898078;
  opacity: 80%;
}

#nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  font-size: .95em;
  color: black;
  text-transform: uppercase;
}

#nav a:hover,
.contents a:hover {
	color: #093a58;
}

#samurai1 {
  width: 200px;
  float: left;
  margin-right: 5px;
  margin-bottom: 1px;
}

#samurai2 {
  width: 200px;
  float: right;
  margin-left: 5px;
  margin-bottom: 1px;
}

@media (min-width: 100px) {
  .big-picture,
  .small-picture,
  .header,
  #nav,
  .contents {
    display: flex;
    flex-direction: column;
  }

  .header {
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  #nav {
    align-items: center;
  }
}

@media (min-width: 825px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
  }

  #nav {
    flex-direction: row;
  }
}