body {
    align-items: auto;
}
  
h1 {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 15px;
}

p {
    text-align: left;
    font-size: 7px;
}

footer {
    text-align-last: center;
    clear: both;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    opacity: 80%;
}

.a {
    display: inline;
    justify-content: right;
    margin-left: 30px;
}

.stats {
    text-decoration: underline;
}

.me {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px green;
    padding: 4px;
}

.stats {
    text-decoration: underline;
    line-height: 22px; 
}

.blocks {
    display: table-cell;
    width: 40%;
    border: solid 1px grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 20px;
}