h1 {
    text-align: center;
    font-size: 20px;
}

p {
    text-align: left;
    font-size: 7px;
}

.class {
    float: relative;
    border: solid 4px black;
}

.stats {
    text-decoration: underline;
}

.portrait {
    border: solid 2px green;
    padding: 4px;
}

body {
    align-items: auto;
  }
  
h1 {
    text-align: center;
    font-size: 20px;
}
  
p {
    text-align: left;
    font-size: 7px;
}
  
.stats {
    text-decoration: underline;
    line-height: 22px; 
}
  
.imgdiv {
    display: block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
  
.blocks {
    display: table-cell;
    width: 40%;
    border: solid 1px grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 20px;
}
  
footer {
    text-align-last: center;
    clear: both;
}
