body {
    background-color: #353562;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 20px;
    background-color: #575773;
}

h2 {
    text-align: center;
    font-size: 15px;
    background-color: #71719A;
}

footer {
    text-align-last: center;
    text-decoration-color: #222253;
    clear: both;
    background-color: #4D4D7E;
}

.stats {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex: 1 200px;
    flex-direction: column;
    line-height: 22px; 
    background-color: #808085;
}

.blocks {
    /* display: flex; */
    flex: 2 20px;
    width: 90%;
    border: solid 2px #040461;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 20px;
}

#nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgb(113, 113, 154);
    opacity: 80%;
}

#img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 250px;
    border: solid 2px #575773;
    padding: 4px;
}

#res-item1 {
    /* border: solid 1px black; */
    margin: 2px;
    /* padding: 2px; */
}

#res-item2 {
    /* border: solid 1px black; */
    margin: 2px;
    /* padding: 2px; */
}

#res-item3 {
    /* border: solid 1px black; */
    margin: 2px;
    /* padding: 2px; */
}

#res-item4 {
    /* border: solid 1px black; */
    margin: 2px;
    /* padding: 2px; */
}